$button-red: #c7102e;

section.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Cairo', sans-serif;
}
.login_container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    padding: 30px;
    p {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin: 5px 0;
    }
    input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid white;
        &::placeholder {
            color: black;
            opacity: 0.8;
        }
        &.username {
            margin-bottom: 15px;
        }
    }
    .forgot_pass{
        text-align:right;
        color: white;
        margin: 10px 0;
    }
    .login_btn {
        background-color: $button-red;
        border: 1px solid $button-red;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
    }

}